/***PRINCIPALES***/
.c-principal {
    color: #21456c;
}

.bg-principal{
    background-color: #21456c;
}

/***ESPECIFICAS***/

/***HOME***/

nav {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}


.banner {
    background-image: url("./assets/imgs/home1.jpg");
    height: 100vh;
    background-size: cover;
}

.primary-btn {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;

    padding: 10px 40px;
    background: rgba(255, 255, 255, .8);
    border-radius: 30px;

    border-color: #ffffff;
    position: relative;
}


.bg-banner {
    background-color: #0000008f;
    width: 100%;
    height: calc(100% - 122px);
    position: absolute;
    top: 122px;
}

.z1 {
    z-index: 1;
}

.carta {
    background-color: #dce4f1;
    border-radius: 25px;
    padding: 3rem 1.3rem;
}

#section2 {
    background-color: #303659;
}

#section2 button {
    color: #21456c;
}

#img2 {
    background-image: url("./assets/imgs/img2.jpg");
    background-size: cover;
}

@media (max-width: 512px) {
    .display-1 {
        font-size: 3rem !important;
    }

    #img2 {
        background-image: url("./assets/imgs/img2.jpg");
        background-size: cover;
        height: 500px;
    }

    #section3 {}

    .carta {
        background-color: #dce4f1;
        border-radius: 25px;
        padding: 2rem 1rem;
    }
}