@font-face {
    font-family: monserratItalic;
    src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Montserrat' å;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body,
a {
    font-family: 'Montserrat';
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    .large-text {
        font-weight: 400;
        font-size: 16px;
    }

    .medium-text {
        font-weight: 400;
        font-size: 14px;
    }

    .small-text {
        font-weight: 400;
        font-size: 12px;
    }

    .xsmall-text {
        font-weight: 400;
        font-size: 10px;
    }

    .menu-desk-item {
        letter-spacing: 1px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 720px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    .large-text {
        font-weight: 400;
        font-size: 20px;
    }

    .medium-text {
        font-weight: 400;
        font-size: 18px;
    }

    .small-text {
        font-weight: 400;
        font-size: 15px;
    }

    .xsmall-text {
        font-weight: 400;
        font-size: 12px;
    }

    .menu-desk-item {
        letter-spacing: 1px;
        font-size: 12px;
    }
}

/***navMenu****/
#navMenu_general{
    z-index: 1;
    background:  linear-gradient(108.74deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.3) 100%);
}
#nav-content-items a{
    color: #fff;
}
/***PRINCIPALES***/

.c-principal {
    color: #303659;
}

.c-verde {
    color: #A2C454;
}

.c-darkblue {
    color: #303659;
}

.c-green {
    color: #A2C454;

}

.bg-blue-primary {
    background-color: #4B83CF45;
}

.bg-blue-dark {
    background-color: #303659;
}

.bg-principal {
    background-color: #21456c;
}

.bg-gris {
    background-color: #f4f4f4;
}

/**services**/
.cart-blue:hover {

    background-color: #4B83CF45;
}

/****/
.bg-banner {
    background-color: #0000008f;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
}

.z1 {
    z-index: 1;
}

/***TEAM**/
#p-team .banner {
    background-image: url("../imgs/team.png");
    background-size: contain;
}

/**contact**/
#p-contact .banner {
    background-image: url("../imgs/team.png");
    background-size: contain;
}

.acordeon-titulo {
    cursor: pointer;
}

/***footer**/
[class^="bi-"]::before,
[class*=" bi-"]::before {
    background-color: #fff;
    border-radius: 2px;
    padding: 2px;
}

.f-title::before {
    position: relative;
}

.f-title::before {
    content: "";
    height: 100%;
    border: solid 4px #5A7FFF;
    position: relative;
    left: -10px;

}


footer a,
footer p,
footer label,
footer h1,
footer h2,
footer h3,
footer h4 {
    color: #fff;
}

.top5 {
    position: relative;
    top: -50px;
}

footer {
    background-color: #303659;
}

.subFooter {
    background-color: #1A2134;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 512px) {
    .content-footer-logo {
        border: 0px !important;
    }
}

/***ESPECIFICAS***/

/***HOME***/

#p-home nav {
    position: absolute;
    background: #adb7caba;
    z-index: 1;
    height: 100px;
}

#p-home #section1 {
    width: 75% !important;
}

.h-s-1-bordes {
    border-left: solid 1px #adb7caba;
}

#p-home #section1 {
    width: 75% !important;
}

#img2 img {
    position: absolute;
    right: 0;
    z-index: -1;
}

@media (max-width: 512px) {

    .h-s-1-bordes {
        border-left: none;
        border-top: solid 1px #adb7caba;
    }
}

#p-home .banner {
    background-image: url("../imgs/hero-bg.jpg");
    height: 100vh;
    background-size: cover;

}

#p-home .primary-btn {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;

    padding: 10px 40px;
    border-radius: 30px;

    border: solid #f4f4f4;
    position: relative;
}


#p-home .bg-banner {
    background-color: #0000008f;
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    top: 100px;
}

#p-home .z1 {
    z-index: 1;
}




#p-home #section2 button {
    color: #21456c;
}

#p-home #img2 {
    background-image: url("./assets/imgs/img2.jpg");
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 512px) {
    #p-home .display-1 {
        font-size: 3rem !important;
    }

    #p-home #img2 {
        background-image: url("./assets/imgs/img2.jpg");
        background-size: cover;
        height: 500px;
    }



}

/**ABOUT**/
.recuadro {
    background-color: #303659;
    width: 400;
    height: 400;
}

.sub-borde-verde {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-borde-verde::after {
    content: "";
    width: 24%;
    height: 0px;
    border-bottom: solid 11px #A2C454;
    position: relative;
    bottom: 15px;
    z-index: -1;
}

/***CONTACT***/
.pagina #section-3 {
    background-image: url("./assets/imgs/home1.jpg");
    background-size: contain;
}

.pagina .acordeon-titulo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #90979f;
}

.acordeon-titulo.active {
    background-color: #4B83CF45;
}

.pagina .acordeon-titulo span {
    cursor: pointer;
}

.pagina .acordeon-titulo.activo {
    background-color: #a8c6e5;
}

.pagina .acordeon-contenido {
    overflow: hidden;
    max-height: 0px;
    padding: 0px;
    transition: max-height .2s ease-in, padding .6s ease-in;
}

.pagina .acordeon-contenido.mostrarContenido {
    display: block;
    max-height: 500px;
    padding: 2rem;
    transition: max-height .5s ease-in, padding .1s ease-in;
}

.pagina .acordeon-contenido.activo {
    display: block;
}

.pagina #s-2_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagina input,
.pagina textarea {
    border: 0px;

}

#form-contac input,
#form-contac textarea {
    border-bottom: solid 2px #000;
}

#form-contac div {
    margin-top: 2rem;
}

/****/
.bloque-izquierdo{
    position: relative;
    top: -100px;
}