/***992px***/
@media (max-width: 992px) {
    .recuadro {
        background-color: #303659;
        width: 100%;
        height: 100%;
    }

    #img_1 {
        height: 100%;
        width: 100%;
        position: absolute;
        right: -20;
        bottom: -15;
    }
}
 
/***520***/
@media(max-width:520px) {
    #btnMenu {
        display: block !important;
        color: #fff;
    }

    #p-home nav {
        height: 75px;
        flex-direction: column;
        padding: 0;
        background-color: #303659;
        justify-content: center;
        align-items: center; 
        transition: max-height 0.15s ease-out;
        overflow: hidden;
    } 
    .content-logo-home {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    #logo-home {
        width: 100px;
        height: 50px;
    }

    #p-home nav {
        position: initial;
    }

    #p-home .bg-banner {

        height: calc(100% - 0px);
        top: 0;
    }

    #nav-content-items { 
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height:0px;
        overflow: hidden;
        transition: max-height .5s ease-in;
    }

    #nav-content-items a {
        padding: 10%;
        color: #fff;
    }

    /**TITULOS**/
    .display-1 {
        font-size: -webkit-xxx-large;
    }

    .text-mobile-1 {
        font-size: 2.1rem;
    }

    /**about**/
    #p-about .recuadro {
        background-color: #303659;
        width: 90%;
        height: auto;
    }

    #p-about #img_1 {
        height: auto;
        width: 100%;
        position: relative;
        right: -20;
        bottom: -15;
    }

    .sub-borde-verde::after {
        content: "";
        width: 65%;
        height: 0px;
        border-bottom: solid 11px #A2C454;
        position: relative;
        bottom: 15px;
        z-index: -1;
    }

    /*****/
    #p-services .banner {
        background-image: url("./assets/imgs/about.png");
        background-size: contain;
    }

    /***mobile***/
    .subFooter {
        background-color: #1A2134;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .mobile-reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    #img2 img{
        position: inherit;
        
    width: 100%;
    }

    /***MENU GENERAL DE LAS PAGINAS**/

    #navMenu_general{
        flex-direction: column;
    }
    #navMenu_general {
        background: #000;
    }
    #navMenu_general #btnMenu{
        
    } 
    #nav-content-items a{
        color: #fff;
    }
    .banner.menu_active {
        height: auto;
    }
    .banner.menu_active  #nav-content-items {  
        height: auto;
        overflow: hidden;
        max-height:100vh;
        transition: max-height .5s ease-in;
    }
    #s-2_1 h1{
        text-align: center;
    }

}

/***720***/