/***PRINCIPALES***/
.c-principal {
    color: #21456c;
}

.bg-principal {
    background-color: #21456c;
}

.bg-gris {
    background-color: #f4f4f4;
}

/***footer**/
[class^="bi-"]::before,
[class*=" bi-"]::before {
    background-color: #fff;
    border-radius: 2px;
    padding: 2px;
}

footer a,
footer p,
footer label,
footer h1,
footer h2,
footer h3,
footer h4 {
    color: #fff;
}

.top5 {
    position: relative;
    top: -50px;
}

/***ESPECIFICAS***/

/***HOME***/

#p-home nav {
    position: absolute;
    background: #adb7caba;
    z-index: 1;
    height: 100px;
}
#p-home #section1 {
    width: 75% !important;
}

.h-s-1-bordes {
    border-left: solid 1px #adb7caba;
}

@media (max-width: 512px) {
    
    .h-s-1-bordes { 
        border-left: none;
        border-top: solid 1px #adb7caba;
    }
}

#p-home .banner {
    background-image: url("../imgs/hero-bg.jpg");
    height: 100vh;
    background-size: cover;

}

#p-home .primary-btn {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;

    padding: 10px 40px;
    border-radius: 30px;

    border: solid #f4f4f4;
    position: relative;
}


#p-home .bg-banner {
    background-color: #0000008f;
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    top: 100px;
}

#p-home .z1 {
    z-index: 1;
}


#p-home #section2 {
    background-color: #303659;
}

#p-home #section2 button {
    color: #21456c;
}

#p-home #img2 {
    background-image: url("./assets/imgs/img2.jpg");
    background-size: cover;
}

@media (max-width: 512px) {
    #p-home .display-1 {
        font-size: 3rem !important;
    }

    #p-home #img2 {
        background-image: url("./assets/imgs/img2.jpg");
        background-size: cover;
        height: 500px;
    }

    #p-home #section3 {}


}

/***CONTACT***/
.pagina #section-3 {
    background-image: url("./assets/imgs/home1.jpg");
    background-size: contain;
}

.pagina .acordeon-titulo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #90979f;
}

.pagina .acordeon-titulo span {
    cursor: pointer;
}

.pagina .acordeon-titulo.activo {
    background-color: #a8c6e5;
}

.pagina .acordeon-contenido {
    display: none;
}

.pagina .acordeon-contenido.activo {
    display: block;
}

.pagina #s-2_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagina input,
.pagina textarea {
    border: 0px;

}

#form-contac input,
#form-contac textarea {
    border-bottom: solid 2px #000;
}

#form-contac div {
    margin-top: 2rem;
}